.skill-my-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 16px;
}

.skill-my-page .ant-card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skill-my-page .ant-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.skill-my-page .ant-table-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skill-my-page .ant-spin-nested-loading {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skill-my-page .ant-spin-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skill-my-page .ant-table {
  flex: 1;
}

.skill-my-page .ant-table-tbody > tr > td {
  padding: 8px 16px;
}

.skill-my-page .ant-table-thead > tr > th {
  padding: 8px 16px;
}
